:root {
    --boja-Header: #A1E56D;
    --boja-Link: #ffffff;
    --pozadinska-boja-Link-trenutni: #998866;
    --pozadinska-boja-Link: #818881;
    --pozadinska-boja-Hamb: #0000001a;
    --pozadina-Gradient: linear-gradient(0deg, #998866 0%, #A1E56D 100%);
    --font-Global: "Segoe UI", sans-serif;
    --font-Fancy: MochiyPopOne;
    --Senka: 0px 0px 10px black;
}

@font-face {
    font-family: MochiyPopOne;
    src: url("../res/font/MochiyPopOne-Regular.ttf") format("truetype");
}

@media screen and (max-width: 600px) {
    .navigacioni {
        visibility: hidden;
        position: absolute !important;
    }
    .zaglavlje {
        flex-direction: row-reverse;
    }
    .hamb {
        display: block !important;
    }
    #prva .container {
        width: 100% !important;
    }
    #treca .container {
        flex-direction: column;
    }
    #treca .usluga {
        width: auto;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    60% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}


* {
    margin: 0;
    padding: 0;
}

.hamb {
    position: relative;
    display: none;
}

.hamb .hov {
    background-size: contain;
    height: 5em;
    width: 5em;
}

.hamblinkovi {
    display: none;
    left: 0;
    padding: 0.5em;
    width: max-content;
    border-radius: 0.75em;
    position: absolute;
    top: 10%;
    z-index: 1;
    background-color: var(--pozadinska-boja-Hamb);
}

.hamblinkovi a {
    margin: 0.5em;
}

.hamb:hover .hamblinkovi {
    display: flex;
    flex-direction: column;
    animation: appear 0.25s ease 0s 1 normal;
}

.zaglavlje {
    display: flex;
    height: 5em;
    padding: 0.5em;
    background-color: var(--boja-Header);
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.zaglavlje .zlevo {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    animation: appear 0.25s ease 0s 1 normal;
}

.zaglavlje .navigacioni {
    display: flex;
    animation: appear 0.25s ease 0s 1 normal;
}

.zaglavlje h1 {
    font-family: var(--font-Global);
    float: left;
}

a.naslov {
    font-family: var(--font-Global);
    float: left;
}

a.naslov:hover {
    background-color: transparent;
}

a {
    padding: 0.5em;
    border-radius: 0.75em;
    text-decoration: none;
    color: var(--boja-Link);
    font-family: var(--font-Global);
    transition: all 0.5s;
    text-shadow: var(--Senka);
    cursor: pointer;
}

a.trenutni {
    background-color: var(--pozadinska-boja-Link-trenutni);
}

a:hover:not(.trenutni) {
    background-color: var(--pozadinska-boja-Link);
}

a span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

a span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 0.5s;
}

a:hover span {
    padding-right: 0.5em;
}

a:hover span:after {
    opacity: 1;
    right: 1;
}

#prva #pocetna {
    display: flex;
    right: 0;
    left: 0;
    position: absolute;
    top: 5em;
    bottom: 0;
    height: auto;
    background: var(--pozadina-Gradient);
    padding: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#prva #pocetna img {
    height: 350px;
    animation: appear 0.75s ease 0s 1 normal;
}

#prva #pocetna .container {
    width: 30%;
    animation: appear 0.33s ease 0s 1 normal;
}

#prva #pocetna .container #naziv {
    font-family: var(--font-Global);
    font-size: xx-large;
    font-weight: bold;
}

#prva #pocetna .container #opis {
    font-family: var(--font-Global);
}

#treca .container {
    display: flex;
}

.usluga {
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 30%;
}

.usluga_naziv {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #A1E56D;
    box-shadow: 0px 0px 50px 10px #3d525c inset;
}

.usluga_naziv p {
    font-size: 6em;
    background-clip: text;
    -webkit-background-clip: text;
    color: #0000004d;
    font-family: var(--font-Fancy);
    text-align: center;
}

.usluga_tekst {
    background-color: var(--boja-Header);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 1em;

}

.usluga_tekst p {
    font-family: var(--font-Global);
}

#treca .usluga_tekst table {
    width: 100%;
}

#treca .usluga_tekst table,
th,
tr,
td {
    border-collapse: collapse;
    text-align: center;
    padding: 1em;
}

#treca .usluga_tekst tr:nth-child(even) {
    background-color: #b3c3cc;
}

#treca .usluga_tekst tr:hover {
    background-color: #526d7a;
}

#treca p#zanzibar {
    background-image: url('../res/zanzibar.jpg');
    background-size: contain;
}

#treca p#maldivi {
    background-image: url('../res/maldivi.jpg');
    background-size: 6em 2em;
}

#treca p#dubai {
    background-image: url('../res/dubai.jpg');
    background-size: contain;
}

#treca p#havaji {
    background-image: url('../res/havaji.jpg');
    background-size: cover;
}

#treca #Zanzibar {
    animation: appear 0.25s ease 0s 1 normal;
}

#treca #Maldivi {
    animation: appear 0.25s ease 0s 1 normal;
}

#treca #Dubai {
    animation: appear 0.25s ease 0s 1 normal;
}

#treca #Havaji {
    animation: appear 0.25s ease 0s 1 normal;
}

#kontakt .container {
    position: absolute;
    width: 100%;
    top: 5em;
    bottom: 0;
    background: var(--pozadina-Gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#kontakt form {
    width: 50%;
    animation: appear 0.25s ease 0s 1 normal;
}

#kontakt label {
    font-family: var(--font-Global);
}

#kontakt input,
textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

#kontakt input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 0.75em;
    cursor: pointer;
    font-family: var(--font-Global);
}

#kontakt input[type=submit]:hover {
    background-color: #d9d9d9;
}

#kontakt .ip {
    display: flex;
    justify-content: space-between;
}

#kontakt .ip input {
    width: 45%;
}